* {
  box-sizing: border-box;
}

body {
  background: #26292e;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  background: #26292e;
  display: flex;
}

.header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: auto;
}

img {
  display: flex;
  width: auto;
  height: 100%;
}

ul li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: white;
}

.header .logo a span {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #e39910;
}

.header .logo a {
  color: white;
  font-size: 40px;
}

.menubar .menu li a {
  margin: 0 20px;
  font-weight: bold;
  letter-spacing: 2px;
  transition: all 0.5s;
  background-color: #e39910;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  margin: 5px;
}

.menubar .menu li a:hover {
  color: black;
  font-weight: bolder;
}

.active {
  color: black;
  background: white;
  padding: 10px;
  border-radius: 15px;
}

.banner {
  color: white;
  width: 80%;
  position: absolute;
  top: 25%;
  padding: 5%;
}

.app-txt {
  width: 50%;
  float: left;
  margin: 30px 0 30px 40px;
}

.app-txt h6 {
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 20px;
}

.app-txt h2 {
  font-size: 60px;
  font-weight: 600;
  margin: 0 0 15px;
  line-height: 1;
  color: white;
}

.app-txt h3 {
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 15px;
  line-height: 1;
  color: #e39910;
}

.app-txt p {
  width: 400px;
  font-size: 20px;
  line-height: 20px;
  color: lightgray;
}

.cv {
  margin-top: 40px;
}

.cv a {
  background: #26292e;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 50px;
  padding: 10px 20px;
  transition: all 0.5s;
  border: 5px solid black;
}

.cv a:hover {
  cursor: pointer;
  color: black;
  background: #e39910;
  border: 2px solid white;
}

.pictures {
  align-self: center;
  display: flex;
  flex-direction: row;
}

.pictures img {
  width: 400px;
  height: 400px;
  margin: 1%;
  border: 5px solid black;
  border-radius: 1%;
}

.skills ul {
  line-height: 0.5;
}

.skills p {
color: #e39910;
}

#myImg1 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg1:hover {
  opacity: 0.7;
}

#myImg2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg2:hover {
  opacity: 0.7;
}

.imgP {
  color: white;
  justify-self: baseline;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* @media (max-width: 1000px) {
  .header {
    flex-direction: column;
    justify-content: space-between;
  }
} */
.stickyicon-list {
  position: fixed;
  top: 200px;
  transform: translateY(-50%);
}
.stickyicon-list a {
  display: block;
  text-align: center;
  padding: 8px;
  transition: all 0.5s ease;
  color: white;
  font-size: 20px;
}
/* HOver affect on sticky social media icons */
.stickyicon-list a:hover {
  color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
}
.twitter {
  color: white;
  background: #00acee;
}
.linkedin {
  background: #0e76a8;
  color: white;
}
.google {
  color: white;
  background: #db4a39;
}
.instagram {
  background: #3f729b;
  color: white;
}
.youtube {
  color: white;
  background: #c4302b;
}
@media (max-width: 412px) {
  
  body {
    background: #26292e;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .container {
    width: auto;
    height: 200px;
    background: #26292e;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .header {
    display: flex;
  }

  ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: #f5f5f5;
  }

  .header .logo a span {
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #e39910;
  }

  .header .logo a {
    color: #f5f5f5;
    font-size: 40px;
  }

  .menubar .menu li a {
    margin: 0 20px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all 0.5s;
    background-color: #e39910;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    margin: 5px;
  }

  .menubar .menu li a:hover {
    color: black;
  }

  .banner {
    color: black;
    background: whitesmoke;
    width: auto;
    height: auto;
    padding: 2%;
    align-self: center;
  }

  ul li {
    display: flex;
    flex-direction: column;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .app-txt {
    width: 100%;
    float: left;
    margin: 20px 0 20px 30px;
  }

  .app-txt h6 {
    font-size: 20px;
    font-weight: 200;
    margin: 0 0 20px;
  }

  .app-txt h2 {
    font-size: 60px;
    font-weight: 600;
    margin: 0 0 15px;
    line-height: 1;
    color: black;
  }

  .app-txt h3 {
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 15px;
    line-height: 1;
    color: #e39910;
  }

  .app-txt p {
    width: 412px;
    height: auto;
    font-size: 15px;
    line-height: 20px;
    color: gray;
  }

  .cv {
    margin-top: 40px;
  }

  .cv a {
    background: #26292e;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 40px;
    padding: 5px 10px;
    transition: all 0.5s;
    border: 1px solid black;
  }

  .cv a:hover {
    cursor: pointer;
    color: black;
    background: #e39910;
    border: 2px solid white;
  }

  .img {
    padding: 10px;
  }
  .pictures img {
  width: 200px;
  height: 200px;
  margin: 1%;
  border: 5px solid black;
  border-radius: 1%;
}

.pictures {
  align-self: center;
  display: flex;
  flex-direction: column;
}

}




